h1 {
    color: blue;
}

.byline {
    color: black;
    font-style: italic;
    font-size:20;
}

li{
    color:Purple;
}

img{
    width: 80px;
    
}

ol{ 
    display: flex;
    flex-wrap: wrap;
}

li {
  width:50%;
  margin-bottom: 30px;
  /* box-sizing: border-box; */
}

@media (max-width: 600px) {

li {
  width:80%;
}

}

